header{
	position: relative;
	font-size: 500%;
	text-align:center;
	border: solid 5px black;
	padding-top: : 5px;
	padding-bottom: 5px;
	margin-top: 0;margin-left: 330px;margin-right: 300px;
	margin-top: 20px;
	border-left: solid 10px white;
	border-right: solid 10px brown;
	font-weight: bold;
}
body{
	margin: 0;
	padding: 0;
	background:#F5D0A9;
}
.sub_news,.sub_news th,.sub_news td{
	border: 0;
}
.sub_news a{
	color: #383838;
	text-decoration: none;
}
.sub_news{
	width: 100%;
	border-bottom: 1px solid #999;
	color: #666;
	font-size: 12px;
	table-layout: fixed;
	margin-top: 200px;
}
.sub_news caption{
	display: none;
}
.sub_news th{
	padding: 5px 0 6xp;
	border-top: solid 1px #999;
	border-bottom: solid 1px #b2b2b2;
	background-color: #f1f1f4;
	color: #333;
	font-weight: bold;
	line-height: 20px;
	vertical-align: top;
}
.sub_news td{
	padding: 8px 0 9px;
	border-bottom: solid 1px #d2d2d2;
	text-align: center;
	line-height: 18px;
}	
.sub_news .date,.sub_news .hit{
	padding: 0;
	font-family: Tahoma;
	font-size: 11px;
	line-height: normal;
}
.sub_news .title{
	text-align: left;
	padding-left: 15px;
	font-size: 13px;
}
.sub_news .title .pic,.sub_news .title .new{
	margin: 0 0 2px;
	vertical-align: middle;
}
.sub_news .title a.comment{
	padding: 0l
	background:none;
	color: #f00;
	font-size: 12px;
	font-weight: bold;
}
.sub_news tr.reply .title a{
	padding-left: 16px;
	background: url(./img.ic_reply.PNG) 0 1px no-repeat;
}
.but{
	position: absolute;
	top:30%;
	left:46%;
	font-size: 150%;
	font-weight: bold;
	border: 0;
	background: #F6E3CE;
}
.sub2{
	text-decoration: none;
}
#cat1{
	color:black;
}
#cat2{
	color: brown;
}
#k{
	font-weight:bold;
	font-size: 20px;
	position: relative;
	left: 90%;
	color:orange;
}
#s{
	color: black;
}